{% extends "homepage.html" %}

{% block body %}

    {% include "navbar.html" %}
<body>

    <div class="container">

        <div class="conteudo">
        {% for foto in fotos %}
        <a href="{{ url_for('perfil', id_usuario=foto.id_usuario)}}" class="bloco-imagem"><!--a outra opção seria usar o backref que seria "foto.usuario.id"-->
            <img src="{{url_for('static', filename='fotos_posts/{}'.format(foto.imagem))}}" /> <!--No HTML tem que passar nesse formato {}.format(nomevariavel) não aceita o 'f' antes do texto-->
        </a>
        {% endfor %}
        </div>
</body>

{% endblock %}
